form {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 50px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 50px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  input[type="text"],
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #3881f0;
  }
  
  .error {
    color: #dc3545;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  