#comments {
    border: 1px solid black;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 40px; 
  }
  
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #252525;
  }
  
  #comment-form{
    margin-bottom: 20px;
  }
  
  .comment {
    margin-bottom: 20px;
    border: 5px solid #ccc;
    padding: 10px;
  }
  
  .comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .like-button {
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .like-button:hover {
    background-color: #ccc;
  }
  
  .like-button.liked {
    background-color: #f00;
    color: #fff;
  }
  
  .like-button.liked:hover {
    background-color: #d00;
  }
  
  .like-button.liked:after {
    content: "ed";
  }
  
  .like-count {
    margin-left: 5px;
    font-size: 0.8em;
    color: #666;
  }